[Desktop Entry]
Name=Audio Settings
Comment=Using Wiremix
Exec=wezterm --class=Wiremix --title=Wiremix -e wiremix
Icon=audio-card
Type=Application
Terminal=false
